{% extends "layout.html" %}
{% block content %}

    <div class="container">
        <form method="POST" action="{{ url_for('register') }}">
            {{ form.csrf_token }}
            {{ form.name.label }}
            {{ form.name }}
            <ul>
                {% for error in form.name.error %}
                    <li style="color:red;">{{ error }}</li>
                {% endfor %}
            </ul>
            {{ form.password.label }}
            {{ form.password }}
            {% for error in form.password.error %}
                <ul>
                <li style="color:red;">{{ error }}</li>
            {% endfor %}
            </ul>
            {{ form.email.label }}
            {{ form.email }}
            <ul>
                {% for error in form.email.error %}
                    <li style="color:red;">{{ error }}</li>
                {% endfor %}
            </ul>
            {{ form.invite_key.label }}
            {{ form.invite_key }}
            <ul>
                {% for error in form.invite_key.error %}
                    <li style="color:red;">{{ error }}</li>
                {% endfor %}
            </ul>
            {{ form.recaptcha }}
            <input type="submit" value="submit">
        </form>
    </div>

{% endblock content %}
